<%- include("../partials/header")%>

<div class="container">
	<div class="row">
		<div class="col-md-3"> 
		
			<div class="list-group">
			<li class="list-group-item active" id="deneme">Info 1</li>
			<li class="list-group-item">Info 2</li>
			<li class="list-group-item">Info 3</li>
			<a class="link-camps-2" href="/campgrounds"> View All Campgrounds</a>
			</div>
		</div>
			<div class="col-md-6 size" >
				<div class="thumbnail">
					<img class="camp-image" class="img-responsive" src="<%=campground.image%>">
					<div class="caption-full">
						<h4 class="pull-right">$<%= campground.price %>/night</h4>
						<h4><a><%=campground.name%></a> </h4>
						<p>	<%=campground.description%></p>
						<p><em>Submitted by <%= campground.author.username %></em></p>
						<!-- if there's a current user, and the use is the author... can edit/delete 
						Yani kullanıcı girişi yapılmamışsa, butonları göremiyor-->
						<%if(currentUser && campground.author.id.equals(currentUser._id)){%>
							<a class="btn btn-warning" href="/campgrounds/<%=campground._id%>/edit">Edit this.</a>
							<form id="delete-form" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
								<button class="btn btn-danger">Delete!</button>
							</form>
						<%}%>
					</div>
				</div>
				<div class="well">
					<div class="text-left">
							<a  class="btn btn-success" href="/campgrounds/<%=campground._id%>/comments/new"> Submit a new comment </a>
					</div>
					
					<hr>
					<% campground.comments.forEach(function(comment){ %>
						<div class="row">
							<div class="col-md-12">
								<strong><%= comment.author.username %></strong>
								<span class="pull-right">10 days ago</span>
								<p>
									 <%= comment.text%>
								 </p>
								<!-- CURRENT USE APP.JS DE EKLENEN BİR SATIRDAN GELİYOR. BÖYLELİKLE HER BİR TEMPLATEİMİZDE CURRENTUSER IMIZ VAR! ... =REQ.USER PASSPORTTAN GELIYOR -->
								<%if(currentUser && comment.author.id.equals(currentUser._id)){%>

								<a class="btn btn-xs btn-warning" href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit">Edit</a>
								<form id="comment-delete-form" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
									<input type="submit" class="btn btn-xs btn-danger" value="Delete">
								</form>
								<%}%>
							</div>
						</div>
						
					<% }) %>
				</div>
			</div>
	</div>
</div>



<%- include("../partials/footer")%>
